@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Form Rules */
  @font-face {
    font-family: "VisbyCF";
    src: url("/Font/VisbyCF/ExtraBold/VisbyCFExtraBold.eot") format("eot"),
      url("/Font/VisbyCF/ExtraBold/VisbyCFExtraBold.woff") format("woff"),
      url("/Font/VisbyCF/ExtraBold/VisbyCFExtraBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "VisbyCF";
    src: url("/Font/VisbyCF/Bold/VisbyCFBold.eot") format("eot"),
      url("/Font/VisbyCF/Bold/VisbyCFBold.woff") format("woff"),
      url("/Font/VisbyCF/Bold/VisbyCFBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }
  /* Declerations */
  html,
  body {
    font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    overflow-x: hidden;
  }
  h1,
  h2,
  h3 {
    font-family: VisbyCF, Arial;
    font-weight: 900;
  }

  h4,
  h5,
  h6 {
    font-family: VisbyCF, Arial;
    font-weight: 500;
  }
}
@layer utilities {
  .navItemActive {
    color: #009879;
  }
  .modal {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1;
    width: 100vw;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }
  .popupWrapper {
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    color: white;
    left: 0%;
    right: 0%;
  }
  .hidePopup {
    display: none;
  }
}
