@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Form Rules */
  @font-face {
    font-family: "VisbyCF";
    src: url("/Font/VisbyCF/ExtraBold/VisbyCFExtraBold.eot") format("eot"),
      url("/Font/VisbyCF/ExtraBold/VisbyCFExtraBold.woff") format("woff"),
      url("/Font/VisbyCF/ExtraBold/VisbyCFExtraBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "VisbyCF";
    src: url("/Font/VisbyCF/Bold/VisbyCFBold.eot") format("eot"),
      url("/Font/VisbyCF/Bold/VisbyCFBold.woff") format("woff"),
      url("/Font/VisbyCF/Bold/VisbyCFBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }
  /* Declerations */
  html,
  body {
    font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
  }
  h1,
  h2,
  h3 {
    font-family: VisbyCF, Arial;
    font-wight: 700;
  }

  h4,
  h5,
  h6 {
    font-family: VisbyCF, Arial;
    font-wight: 500;
  }
}
